<%= render 'form', course: @course, teachers: @teachers, action: "Editar" %>

<div class="d-flex justify-content-center p-5">
  <%= link_to 'Voltar', courses_path, class: "d-flex btn btn-dark" %>
</div>
